# PANDAS BASICS

Pandas is a open source python library which is very specific for data analysis providing high performance. It is built on top of numpy.Both NumPy and pandas are often used together, as the pandas library relies heavily on the NumPy array for the implementation of pandas data objects and shares many of its features.

## Key Features of Pandas

-> Fast and efficient DataFrame object with default and customized indexing.
-> Tools for loading data into in-memory data objects from different file formats.
-> Data alignment and integrated handling of missing data.
-> Reshaping and pivoting of date sets.
-> Label-based slicing, indexing and subsetting of large data sets.
-> Columns from a data structure can be deleted or inserted.
-> Group by data for aggregation and transformations.
-> High performance merging and joining of data.
-> Time Series functionality.

### Pandas generally deals with two datastructures - Series and Dataframe

## Pandas Series :

Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects). 
The axis labels are collectively called index.

#### Syntax :
pandas.Series( data, index, dtype, copy) 

#### Parameters:

data : data takes various forms like ndarray, list, constants

index : Index values must be unique and hashable, same length as data. Default np.arrange(n) if no index is passed.

dtype : dtype is for data type. If None, data type will be inferred

copy : Copy data. Default False

In [2]:
#create a series from a ndarray

import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [4]:
#Accessing Data from Series

import pandas as pd
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])

print(s[0]) #Using Position
print(s['a']) #Using Label

#Retrieving Multiple elements 
print(s[:3])
print(s[['a','c','d']])

1
1
a    1
b    2
c    3
dtype: int64
a    1
c    3
d    4
dtype: int64

### "Apply" method on Pandas Series : Invoke function on values of Series

In [5]:
import pandas as pd
import numpy as np 

series = pd.Series([20, 21, 12], index=['a','b','c'])

#Square the values by defining a function and passing it as an argument to apply().
def square(x):
   return x**2
series.apply(square) 

#Square the values by passing an anonymous function as an argument to apply().
series.apply(lambda x: x**2)

a    400
b    441
c    144
dtype: int64

### Note : Apply method throws an error with arrays

## DataFrames:

A Data frame is a two-dimensional data structure(i.e) data is aligned in a tabular fashion in rows and columns.

#### Syntax :
pandas.DataFrame( data, index, columns, dtype, copy)

#### Parameters:

data : data takes various forms like ndarray, series, map, lists, dict, constants and also another DataFrame.

index : For the row labels, the Index to be used for the resulting frame is Optional Default np.arrange(n) if no index is passed.

columns : For column labels, the optional default syntax is - np.arrange(n). This is only true if no index is passed.

dtype : Data type of each column.

copy : This command (or whatever it is) is used for copying of data, if the default is False.

In [6]:
#Creating Dataframe from Lists

import pandas as pd

data = [['Jose',90],['Matt',80],['Clark',70]]
df = pd.DataFrame(data,index=['Rank1','Rank2','Rank3'],columns=['Name','Percentage'],dtype=float)
print(df)

        Name  Percentage
Rank1   Jose        90.0
Rank2   Matt        80.0
Rank3  Clark        70.0

In [7]:
#Creating Datraframe from Dicts

import pandas as pd

data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}] #NaN (Not a Number) is appended in missing areas.
df = pd.DataFrame(data, index=['first', 'second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [10]:
#Creating Dataframe from dict of series
import pandas as pd

d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [48]:
#import from a csv file

import pandas as pd

dataframe = pd.read_csv(r"C:\Users\Praneeth\Downloads\creditcardcsv.csv")
print(dataframe)

      Merchant_id   CCNUMBER  Transaction date  \
0      3160040998  458785658               NaN
1      3160040998  258785659               NaN
2      3160041996  677361687               NaN
3      3160041996  487513198               NaN
4      3160041996    7970257               NaN
5      3160241992  333905636               NaN
6      3160241992  579946416               NaN
7      3160272997  291714540               NaN
8      3200016990  214355890               NaN
9      3200016990  868746595               NaN
10     3200016990  160390553               NaN
11     3333780991  688040418               NaN
12     3737637735  112423763               NaN
13     4727426967   12616870               NaN
14     4544655328  493169486               NaN
15     4499635964  794447079               NaN
16     5341322312  280968687               NaN
17     4531717685  743610028               NaN
18     6397501503  727691964               NaN
19     6626944478  530387262               NaN
20     4576152716  861630976               NaN
21     4369938652  776913609               NaN
22     4700845732  917750290               NaN
23     6152532235   20793520               NaN
24     4211432542  214828409               NaN
25     5301391154  437953844               NaN
26     6424341371  260803241               NaN
27     4283226314  866411065               NaN
28     5016486359  579472381               NaN
29     5212779041  656130879               NaN
...           ...        ...               ...
3039   5830852068  797446679               NaN
3040   4990335216  248950183               NaN
3041   6149350467  473696087               NaN
3042   4579872633  664075079               NaN
3043   4487026266  419056881               NaN
3044   5325772796  307458372               NaN
3045   5580618131  128347745               NaN
3046   5440287694  412630380               NaN
3047   6329912947  106185847               NaN
3048   4473791013  634541832               NaN
3049   3359690891  100474399               NaN
3050   6047857497  907605200               NaN
3051   3658323901  319095082               NaN
3052   3412458375  207779858               NaN
3053   4870378479   67137884               NaN
3054   3436535040  560071048               NaN
3055   5238776955  640274241               NaN
3056   5874863707  915554611               NaN
3057   6104877090  860420310               NaN
3058   6405633403  207592710               NaN
3059   3931533472  500426104               NaN
3060   4931552646  285574927               NaN
3061   5022726674  462833859               NaN
3062   4546243015  372387730               NaN
3063   4241853103  127002896               NaN
3064   3160041896    7970257               NaN
3065   3160141996    7970257               NaN
3066   3162041996    7970257               NaN
3067   3162041996    7970257               NaN
3068   3162041996    7970257               NaN

      Average Amount/transaction/day  Transaction_amount  limit  \
0                         100.000000              1500.0   4000
1                         100.000000              1500.0   4000
2                         185.500000              4000.0   2000
3                         185.500000              3000.0   2000
4                         185.500000              3000.0   2000
5                         500.000000              3700.0   4000
6                         500.000000              3705.2   4000
7                         262.500000               500.0   2000
8                         262.500000               500.0   2000
9                         375.000000               500.0   2000
10                        375.000000               500.0   4000
11                        375.000000               500.0   4000
12                        622.165491              2629.0   4000
13                        719.842203               164.0   2000
14                        161.166495               301.0   4000
15                        633.153234                 5.0   2000
16                         82.079047               787.0   2000
17                        660.079426               614.0   2000
18                        133.981453              1676.0   4000
19                        830.052132                46.0   2000
20                        842.010852               939.0   2000
21                        520.334997                45.0   2000
22                        936.975052               134.0   2000
23                        701.638341               292.0   2000
24                        586.879835               331.0   2000
25                        391.522319              1655.0   4000
26                        884.710841              1501.0   4000
27                        780.458993               162.0   2000
28                        961.655208               624.0   2000
29                        222.421072                31.0   2000
...                              ...                 ...    ...
3039                      292.158908              1507.0   2000
3040                      617.464476               562.0   2000
3041                      538.920530                94.0   4000
3042                      978.691432              1611.0   4000
3043                      640.529014               992.0   4000
3044                      853.144814                92.0   2000
3045                      559.221222               115.0   2000
3046                      882.408918               259.0   2000
3047                      237.079302               458.0   4000
3048                      342.680968               375.0   4000
3049                      152.451565              1281.0   4000
3050                      401.277893                75.0   2000
3051                      705.911185                98.0   2000
3052                      325.802131               344.0   4000
3053                      761.149378               773.0   2000
3054                      245.344011               396.0   2000
3055                      328.907306              1141.0   4000
3056                      265.816940               170.0   4000
3057                      309.523061               181.0   4000
3058                      938.297574              1282.0   2000
3059                      994.171111               483.0   4000
3060                      782.638580              1708.0   4000
3061                      540.671110                79.0   4000
3062                      627.208710               281.0   2000
3063                      919.007944              2587.0   4000
3064                      185.500000              3000.0   2000
3065                      185.500000              3000.0   2000
3066                      185.500000              3000.0   2000
3067                      185.500000              5542.3   4000
3068                      185.500000              6742.8   4000

      remaining limit Is declined  Total Number of declines/day  \
0           35552.250           N                             5
1           35552.250           N                             5
2            1901.876           Y                             0
3            1901.876           Y                             1
4            1901.876           Y                             2
5            4000.000           N                             0
6            4000.000           N                             0
7            2000.000           N                             0
8            1000.000           N                             0
9            1425.800           N                             0
10           2425.600           N                             0
11           2425.600           N                             0
12           2832.000           N                             0
13            214.000           N                             2
14           2636.000           N                             0
15            603.000           N                             0
16           1684.000           N                             0
17           1068.000           N                             0
18           2441.000           N                             4
19            122.000           N                             0
20           1681.000           N                             6
21           1363.000           N                             0
22            543.000           N                             0
23            696.000           N                             6
24           1475.000           N                             0
25           2080.000           N                             0
26           3833.000           N                             0
27            187.000           N                             0
28           1266.000           N                             0
29            356.000           N                             0
...               ...         ...                           ...
3039         1736.000           N                             0
3040         1460.000           N                             0
3041          143.000           N                             0
3042         2081.000           N                             9
3043         2107.000           N                             0
3044          337.000           N                             0
3045          320.000           N                             0
3046          445.000           N                             0
3047         1597.000           N                             0
3048         3932.000           N                             0
3049         1571.000           N                             0
3050          814.000           N                             0
3051          934.000           N                             0
3052         1437.000           N                             0
3053          919.000           N                             2
3054         1277.000           N                             0
3055         2621.000           N                             0
3056          947.000           N                             0
3057          394.000           N                             0
3058         1878.000           N                             0
3059         3619.000           N                             0
3060         2809.000           N                             0
3061          176.000           N                             8
3062          434.000           N                             0
3063         2977.000           N                             0
3064         1901.876           Y                             5
3065         1901.876           Y                             8
3066         1901.876           Y                            20
3067         1901.876           Y                            20
3068         1901.876           Y                            20

     isForeignTransaction isHighRiskCountry  Daily_chargeback_avg_amt  \
0                       Y                 Y                         0
1                       Y                 Y                         0
2                       N                 N                         0
3                       N                 N                         0
4                       N                 N                         0
5                       Y                 Y                       800
6                       Y                 Y                       800
7                       N                 N                       900
8                       N                 N                         0
9                       N                 N                         0
10                      N                 N                         0
11                      N                 N                         0
12                      N                 N                         0
13                      Y                 Y                         0
14                      N                 N                         0
15                      N                 N                         0
16                      N                 N                         0
17                      N                 N                         0
18                      N                 N                         0
19                      N                 N                         0
20                      N                 N                         0
21                      N                 N                         0
22                      Y                 N                       573
23                      Y                 N                         0
24                      N                 N                         0
25                      N                 N                         0
26                      N                 N                         0
27                      N                 N                         0
28                      N                 N                         0
29                      N                 N                         0
...                   ...               ...                       ...
3039                    N                 N                         0
3040                    Y                 N                         0
3041                    Y                 N                         0
3042                    N                 N                         0
3043                    N                 N                         0
3044                    N                 N                         0
3045                    N                 N                         0
3046                    N                 N                         0
3047                    N                 N                         0
3048                    N                 N                         0
3049                    Y                 Y                       865
3050                    N                 N                         0
3051                    N                 N                         0
3052                    N                 N                         0
3053                    N                 N                         0
3054                    N                 N                         0
3055                    N                 N                         0
3056                    Y                 Y                         0
3057                    N                 N                         0
3058                    N                 N                         0
3059                    N                 N                         0
3060                    N                 N                       819
3061                    Y                 Y                         0
3062                    N                 N                         0
3063                    N                 N                         0
3064                    N                 N                         0
3065                    N                 N                         0
3066                    N                 N                         0
3067                    N                 N                         0
3068                    N                 N                         0

      6_month_avg_chbk_amt  6-month_chbk_freq isFradulent
0                      0.0                  0           Y
1                      0.0                  0           Y
2                      0.0                  0           N
3                      0.0                  0           N
4                      0.0                  0           N
5                    677.2                  6           Y
6                    677.2                  6           Y
7                    345.5                  7           Y
8                      0.0                  0           N
9                      0.0                  0           N
10                     0.0                  0           N
11                     0.0                  0           N
12                     0.0                  0           N
13                     0.0                  0           Y
14                     0.0                  0           N
15                     0.0                  0           N
16                     0.0                  0           N
17                     0.0                  0           N
18                     0.0                  0           N
19                     0.0                  0           N
20                     0.0                  0           N
21                     0.0                  0           N
22                   427.0                  3           N
23                     0.0                  0           N
24                     0.0                  0           N
25                     0.0                  0           N
26                     0.0                  0           N
27                     0.0                  0           N
28                     0.0                  0           N
29                     0.0                  0           N
...                    ...                ...         ...
3039                   0.0                  0           N
3040                   0.0                  0           N
3041                   0.0                  0           N
3042                   0.0                  0           Y
3043                   0.0                  0           N
3044                   0.0                  0           N
3045                   0.0                  0           N
3046                   0.0                  0           N
3047                   0.0                  0           N
3048                   0.0                  0           N
3049                 375.0                  8           Y
3050                   0.0                  0           N
3051                   0.0                  0           N
3052                   0.0                  0           N
3053                   0.0                  0           N
3054                   0.0                  0           N
3055                   0.0                  0           N
3056                   0.0                  0           Y
3057                   0.0                  0           N
3058                   0.0                  0           N
3059                   0.0                  0           N
3060                 781.0                  2           N
3061                   0.0                  0           Y
3062                   0.0                  0           N
3063                   0.0                  0           N
3064                   0.0                  0           Y
3065                   0.0                  0           Y
3066                   0.0                  0           Y
3067                   0.0                  0           Y
3068                   0.0                  0           Y

[3069 rows x 15 columns]

In [15]:
dataframe.head() #returns n rows. Default : 5

,Merchant_id,CCNUMBER,Transaction date,Average Amount/transaction/day,Transaction_amount,limit,remaining limit,Is declined,Total Number of declines/day,isForeignTransaction,isHighRiskCountry,Daily_chargeback_avg_amt,6_month_avg_chbk_amt,6-month_chbk_freq,isFradulent
0,3160040998,458785658,NaN,100.0,1500.0,4000,35552.250,N,5,Y,Y,0,0.0,0,Y
1,3160040998,258785659,NaN,100.0,1500.0,4000,35552.250,N,5,Y,Y,0,0.0,0,Y
2,3160041996,677361687,NaN,185.5,4000.0,2000,1901.876,Y,0,N,N,0,0.0,0,N
3,3160041996,487513198,NaN,185.5,3000.0,2000,1901.876,Y,1,N,N,0,0.0,0,N
4,3160041996,7970257,NaN,185.5,3000.0,2000,1901.876,Y,2,N,N,0,0.0,0,N

In [14]:
dataframe.tail() #returns last n rows. Default : 5

,Merchant_id,CCNUMBER,Transaction date,Average Amount/transaction/day,Transaction_amount,limit,remaining limit,Is declined,Total Number of declines/day,isForeignTransaction,isHighRiskCountry,Daily_chargeback_avg_amt,6_month_avg_chbk_amt,6-month_chbk_freq,isFradulent
3064,3160041896,7970257,NaN,185.5,3000.0,2000,1901.876,Y,5,N,N,0,0.0,0,Y
3065,3160141996,7970257,NaN,185.5,3000.0,2000,1901.876,Y,8,N,N,0,0.0,0,Y
3066,3162041996,7970257,NaN,185.5,3000.0,2000,1901.876,Y,20,N,N,0,0.0,0,Y
3067,3162041996,7970257,NaN,185.5,5542.3,4000,1901.876,Y,20,N,N,0,0.0,0,Y
3068,3162041996,7970257,NaN,185.5,6742.8,4000,1901.876,Y,20,N,N,0,0.0,0,Y

In [16]:
dataframe.info() #print the datatype of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3069 entries, 0 to 3068
Data columns (total 15 columns):
Merchant_id                       3069 non-null int64
CCNUMBER                          3069 non-null int64
Transaction date                  0 non-null float64
Average Amount/transaction/day    3069 non-null float64
Transaction_amount                3069 non-null float64
limit                             3069 non-null int64
remaining limit                   3069 non-null float64
Is declined                       3069 non-null object
Total Number of declines/day      3069 non-null int64
isForeignTransaction              3069 non-null object
isHighRiskCountry                 3069 non-null object
Daily_chargeback_avg_amt          3069 non-null int64
6_month_avg_chbk_amt              3069 non-null float64
6-month_chbk_freq                 3069 non-null int64
isFradulent                       3069 non-null object
dtypes: float64(5), int64(6), object(4)
memory usage: 359.7+ KB

In [17]:
dataframe.describe() #describe the summary of all the numeric columns in the dataset

,Merchant_id,CCNUMBER,Transaction date,Average Amount/transaction/day,Transaction_amount,limit,remaining limit,Total Number of declines/day,Daily_chargeback_avg_amt,6_month_avg_chbk_amt,6-month_chbk_freq
count,3.069000e+03,3.069000e+03,0.0,3069.000000,3069.000000,3069.000000,3069.000000,3069.000000,3069.000000,3069.000000,3069.000000
mean,4.977191e+09,4.956121e+08,NaN,503.139303,771.338645,3006.190942,1579.522811,0.931900,41.842620,29.235549,0.262626
std,9.776836e+08,2.911963e+08,NaN,289.231604,755.912941,1000.143792,1336.567163,2.188238,183.252377,136.989591,1.255798
min,3.160041e+09,7.104700e+04,NaN,0.036577,1.000000,2000.000000,100.000000,0.000000,0.000000,0.000000,0.000000
25%,4.127151e+09,2.408862e+08,NaN,257.142182,202.000000,2000.000000,734.000000,0.000000,0.000000,0.000000,0.000000
50%,4.970798e+09,4.962460e+08,NaN,494.402452,532.000000,4000.000000,1386.000000,0.000000,0.000000,0.000000,0.000000
75%,5.835305e+09,7.469018e+08,NaN,758.346860,1113.000000,4000.000000,2110.000000,0.000000,0.000000,0.000000,0.000000
max,6.665906e+09,9.998677e+08,NaN,999.194706,6742.800000,4000.000000,35552.250000,20.000000,998.000000,998.000000,9.000000

In [19]:
dataframe.columns #Returns column names

Index(['Merchant_id', 'CCNUMBER', 'Transaction date',
       'Average Amount/transaction/day', 'Transaction_amount', 'limit',
       'remaining limit', 'Is declined', 'Total Number of declines/day',
       'isForeignTransaction', 'isHighRiskCountry', 'Daily_chargeback_avg_amt',
       '6_month_avg_chbk_amt', '6-month_chbk_freq', 'isFradulent'],
      dtype='object')

In [21]:
dataframe.shape #Returns the number of rows and columns

(3069, 15)

In [23]:
dataframe.values #Extracts values of dataframe as np array

array([[3160040998, 458785658, nan, ..., 0.0, 0, 'Y'],
       [3160040998, 258785659, nan, ..., 0.0, 0, 'Y'],
       [3160041996, 677361687, nan, ..., 0.0, 0, 'N'],
       ...,
       [3162041996, 7970257, nan, ..., 0.0, 0, 'Y'],
       [3162041996, 7970257, nan, ..., 0.0, 0, 'Y'],
       [3162041996, 7970257, nan, ..., 0.0, 0, 'Y']], dtype=object)

#### set_index : Set the DataFrame index (row labels) using one or more existing columns. By default yields a new object.

#### Syntax : DataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False) ####

#### Parameters: ####

keys : column label or list of column labels / arrays

drop : boolean, default True
Delete columns to be used as the new index

append : boolean, default False
Whether to append columns to existing index

inplace : boolean, default False
Modify the DataFrame in place (do not create a new object)

verify_integrity : boolean, default False
Check the new index for duplicates. Otherwise defer the check until necessary. Setting to False will improve the performance of this method

In [49]:
#Setting Index
dataframe.set_index('CCNUMBER', inplace = True)

### Sorting by index

#### Syntax :
DataFrame.sort_index(axis=0, level=None, ascending=True, inplace=False, kind='quicksort', na_position='last', sort_remaining=True, by=None) 

#### Parameters :

axis : index, columns to direct sorting

level : int or level name or list of ints or list of level names
if not None, sort on values in specified index level(s)

ascending : boolean, default True

inplace : bool, default False
if True, perform operation in-place

kind : {quicksort, mergesort, heapsort}, default quicksort

Choice of sorting algorithm. mergesort is the only stable algorithm. For DataFrames, this option is only applied when sorting on a single column or label.

na_position : {first, last}, default last
first puts NaNs at the beginning, last puts NaNs at the end. Not implemented for MultiIndex.

sort_remaining : bool, default True
if true and sorting by level and index is multilevel, sort by other levels too (in order) after sorting by specified level

In [50]:
dataframe.sort_index(ascending=False) #Sorting by index

,Merchant_id,Transaction date,Average Amount/transaction/day,Transaction_amount,limit,remaining limit,Is declined,Total Number of declines/day,isForeignTransaction,isHighRiskCountry,Daily_chargeback_avg_amt,6_month_avg_chbk_amt,6-month_chbk_freq,isFradulent
CCNUMBER,,,,,,,,,,,,,,
999867727,5859655062,NaN,696.469041,2547.0,4000,3351.000,N,0,N,N,0,0.0,0,N
998901416,5760152287,NaN,147.524238,924.0,4000,2361.000,N,2,Y,Y,0,0.0,0,Y
997627653,5258312871,NaN,732.044912,80.0,2000,588.000,N,1,Y,Y,0,0.0,0,Y
997530564,4426966493,NaN,55.588537,1126.0,2000,1711.000,N,0,N,N,0,0.0,0,N
997355524,5227763140,NaN,334.575655,1259.0,4000,1849.000,N,0,N,N,0,0.0,0,N
996817588,6144791734,NaN,985.911941,804.0,4000,3946.000,N,0,N,N,0,0.0,0,N
996815559,4561746814,NaN,736.102006,27.0,4000,105.000,N,1,N,N,0,0.0,0,N
996526502,4575031126,NaN,166.410775,2239.0,4000,2422.000,N,0,N,N,0,0.0,0,N
996374207,4755112015,NaN,737.312704,1615.0,4000,2624.000,N,0,N,N,0,0.0,0,N
996360680,4886068496,NaN,428.658375,84.0,2000,1900.000,N,0,N,N,0,0.0,0,N
996066217,6040399931,NaN,819.948062,148.0,2000,156.000,N,3,N,N,0,0.0,0,N
996056582,5607164218,NaN,154.083115,146.0,2000,517.000,N,0,N,N,0,0.0,0,N
995420193,4993297258,NaN,383.724703,1117.0,4000,1303.000,N,0,N,N,0,0.0,0,N
994910798,3714377023,NaN,474.112343,93.0,4000,796.000,N,0,N,N,0,0.0,0,N
994074715,3518189460,NaN,884.543150,34.0,4000,989.000,N,0,N,N,0,0.0,0,N
994047429,4725527324,NaN,457.055871,757.0,2000,1077.000,N,0,N,N,0,0.0,0,N
993634580,5516509929,NaN,807.734709,20.0,2000,803.000,N,0,Y,Y,0,0.0,0,Y
993471864,5425524255,NaN,186.328118,385.0,2000,610.000,N,0,N,N,942,891.0,6,Y
993416744,5117166927,NaN,738.640487,108.0,4000,156.000,N,0,N,N,0,0.0,0,N
992830007,5591651411,NaN,452.309247,12.0,4000,432.000,N,4,Y,N,0,0.0,0,Y
992826172,4223411414,NaN,328.907202,831.0,4000,1330.000,N,0,N,N,0,0.0,0,N
992742994,3954144552,NaN,642.624922,1328.0,4000,2588.000,N,0,N,N,718,175.0,5,N
991486546,5995948038,NaN,877.066705,55.0,2000,305.000,N,0,N,N,0,0.0,0,N
991122917,5734095507,NaN,363.183629,1330.0,4000,1824.000,N,0,Y,N,971,615.0,3,Y
991003889,4967884257,NaN,360.131122,808.0,2000,877.000,N,0,N,N,0,0.0,0,N
990952423,3505845546,NaN,476.864587,1929.0,4000,2035.000,N,3,Y,N,0,0.0,0,Y
990868712,6339323177,NaN,781.871435,1600.0,2000,1984.000,N,6,N,N,0,0.0,0,N
990786029,4819584339,NaN,337.394580,25.0,2000,117.000,N,0,N,N,0,0.0,0,N
990640606,5104524190,NaN,687.910932,111.0,2000,216.000,N,0,N,N,0,0.0,0,N
990454774,6456774027,NaN,179.130084,522.0,2000,582.000,N,0,N,N,0,0.0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8498947,5456291679,NaN,168.711357,2036.0,4000,3081.000,N,0,N,N,0,0.0,0,N
8180314,4175215462,NaN,957.751236,344.0,2000,864.000,N,0,N,N,0,0.0,0,N
7970257,3160141996,NaN,185.500000,3000.0,2000,1901.876,Y,8,N,N,0,0.0,0,Y
7970257,3162041996,NaN,185.500000,3000.0,2000,1901.876,Y,20,N,N,0,0.0,0,Y
7970257,3160041996,NaN,185.500000,3000.0,2000,1901.876,Y,2,N,N,0,0.0,0,N
7970257,3162041996,NaN,185.500000,5542.3,4000,1901.876,Y,20,N,N,0,0.0,0,Y
7970257,3160041896,NaN,185.500000,3000.0,2000,1901.876,Y,5,N,N,0,0.0,0,Y
7970257,3162041996,NaN,185.500000,6742.8,4000,1901.876,Y,20,N,N,0,0.0,0,Y
7537925,4034539813,NaN,774.704723,186.0,4000,679.000,N,0,N,N,0,0.0,0,N
7455892,3860560237,NaN,279.916425,801.0,4000,2252.000,N,0,N,N,0,0.0,0,N
7370565,5830801726,NaN,246.436903,276.0,4000,3205.000,N,0,N,N,0,0.0,0,N
6831428,6234384004,NaN,468.002125,521.0,2000,1743.000,N,1,N,N,0,0.0,0,N
6625145,3701023477,NaN,407.760219,451.0,4000,618.000,N,0,N,N,0,0.0,0,N
6524005,5906911279,NaN,352.535684,93.0,4000,382.000,N,0,N,N,0,0.0,0,N
6256910,4066893280,NaN,214.124523,1144.0,4000,1473.000,N,0,N,N,0,0.0,0,N
6155732,6215992784,NaN,22.463435,404.0,4000,3247.000,N,0,N,N,0,0.0,0,N
6073434,6244913089,NaN,853.132824,37.0,4000,917.000,N,0,N,N,0,0.0,0,N
6017520,4881263218,NaN,319.970126,126.0,2000,1008.000,N,0,N,N,0,0.0,0,N
5733192,5167722376,NaN,438.517309,473.0,2000,776.000,N,0,N,N,0,0.0,0,N
5494986,4570798117,NaN,913.617638,3121.0,4000,3681.000,N,0,N,N,0,0.0,0,N
5436606,4163803727,NaN,971.944227,52.0,2000,1112.000,N,3,Y,Y,0,0.0,0,Y
4915348,5646455022,NaN,129.291143,2268.0,4000,2534.000,N,5,Y,Y,0,0.0,0,Y
4230343,3420560059,NaN,938.778072,843.0,4000,3331.000,N,3,Y,N,0,0.0,0,N
3700011,6001893064,NaN,985.218507,1096.0,2000,1918.000,N,0,N,N,0,0.0,0,N
3691623,4477112901,NaN,131.186302,1419.0,2000,1476.000,N,0,Y,N,0,0.0,0,N
3446036,5969094614,NaN,922.398685,2213.0,4000,3284.000,N,3,Y,Y,0,0.0,0,Y
2462971,6038651250,NaN,126.601962,169.0,4000,1948.000,N,0,N,N,0,0.0,0,N
2365791,4136293685,NaN,479.883858,2568.0,4000,3720.000,N,0,N,N,0,0.0,0,N
899431,4421124944,NaN,881.385241,763.0,4000,1037.000,N,4,Y,N,0,0.0,0,N
71047,4061849015,NaN,308.083099,799.0,4000,3854.000,N,7,N,N,0,0.0,0,Y

### Sort by values

### Syntax
DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')

### Parameters

by : str or list of str
Name or list of names to sort by.
if axis is 0 or index then by may contain index levels and/or column labels
if axis is 1 or columns then by may contain column levels and/or index labels

axis : {0 or index, 1 or columns}, default 0
Axis to be sorted

ascending : bool or list of bool, default True

inplace : bool, default False

kind : {quicksort, mergesort, heapsort}, default quicksort

na_position : {first, last}, default last

In [51]:
dataframe.sort_values(by='remaining limit') #Sorting by value

,Merchant_id,Transaction date,Average Amount/transaction/day,Transaction_amount,limit,remaining limit,Is declined,Total Number of declines/day,isForeignTransaction,isHighRiskCountry,Daily_chargeback_avg_amt,6_month_avg_chbk_amt,6-month_chbk_freq,isFradulent
CCNUMBER,,,,,,,,,,,,,,
600213422,6239886634,NaN,230.802557,39.0,2000,100.00,N,0,N,N,0,0.0,0,N
757987469,5950044519,NaN,190.214868,42.0,2000,101.00,N,0,Y,N,0,0.0,0,N
905132839,4997094269,NaN,892.597744,95.0,2000,101.00,N,0,N,N,0,0.0,0,N
360216529,5696631575,NaN,939.214543,89.0,2000,101.00,N,4,N,N,0,0.0,0,N
204456072,5858053228,NaN,802.041451,63.0,4000,101.00,N,0,N,N,0,0.0,0,N
537604847,5276862350,NaN,328.094710,5.0,4000,103.00,N,3,N,N,0,0.0,0,N
18271147,3508979345,NaN,205.861419,70.0,2000,103.00,N,0,Y,N,0,0.0,0,Y
803826679,6577947894,NaN,150.072610,73.0,4000,103.00,N,0,N,N,0,0.0,0,N
554472812,4818869188,NaN,644.023177,63.0,2000,104.00,N,7,Y,Y,0,0.0,0,Y
444402398,3553896680,NaN,356.410382,71.0,2000,104.00,N,0,N,N,0,0.0,0,N
996815559,4561746814,NaN,736.102006,27.0,4000,105.00,N,1,N,N,0,0.0,0,N
334362715,6354227738,NaN,45.032036,9.0,2000,105.00,N,1,N,N,0,0.0,0,N
942669690,3491557751,NaN,645.216593,18.0,2000,106.00,N,0,N,N,0,0.0,0,N
8950771,4915255439,NaN,478.605703,18.0,4000,109.00,N,0,N,N,0,0.0,0,N
418484169,5270768781,NaN,159.841385,62.0,2000,109.00,N,2,Y,N,0,0.0,0,N
734288036,5890628274,NaN,257.657217,38.0,2000,109.00,N,0,N,N,0,0.0,0,N
506311242,3651341559,NaN,434.597301,61.0,4000,110.00,N,7,Y,Y,0,0.0,0,Y
792199523,5290144972,NaN,906.970423,33.0,4000,111.00,N,0,N,N,0,0.0,0,N
138646022,4908479091,NaN,96.482114,74.0,2000,112.00,N,0,N,N,0,0.0,0,N
910989328,5216204048,NaN,115.794515,69.0,2000,113.00,N,4,N,N,0,0.0,0,N
231960665,5031373379,NaN,276.608499,78.0,2000,117.00,N,5,N,N,0,0.0,0,N
990786029,4819584339,NaN,337.394580,25.0,2000,117.00,N,0,N,N,0,0.0,0,N
329588857,4351013109,NaN,25.946738,25.0,2000,117.00,N,3,Y,Y,0,0.0,0,Y
113547813,5793673119,NaN,471.381881,62.0,2000,118.00,N,4,Y,Y,0,0.0,0,Y
939886269,3825656302,NaN,231.970807,16.0,4000,118.00,N,0,N,N,0,0.0,0,N
437845970,3483626412,NaN,111.375071,78.0,2000,119.00,N,2,Y,N,0,0.0,0,Y
739888634,4414762348,NaN,476.814873,9.0,2000,120.00,N,0,N,N,914,728.0,1,N
772020550,5063944744,NaN,521.418042,48.0,4000,121.00,N,5,Y,Y,0,0.0,0,Y
214393758,4685307221,NaN,702.254368,114.0,4000,121.00,N,5,Y,N,0,0.0,0,N
976643933,6549383841,NaN,634.168420,72.0,2000,122.00,N,0,N,N,0,0.0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
634541832,4473791013,NaN,342.680968,375.0,4000,3932.00,N,0,N,N,0,0.0,0,N
881487259,5403640175,NaN,241.210336,2507.0,4000,3933.00,N,0,N,N,0,0.0,0,N
335927982,4963913041,NaN,828.085479,2969.0,4000,3934.00,N,0,N,N,0,0.0,0,N
928399354,4297088362,NaN,706.705444,333.0,4000,3936.00,N,0,N,N,0,0.0,0,N
133664767,4933502657,NaN,615.560208,640.0,4000,3942.00,N,0,Y,Y,0,0.0,0,Y
668739358,4002610502,NaN,113.346649,1163.0,4000,3944.00,N,0,N,N,0,0.0,0,N
946120936,5852178989,NaN,112.070539,1709.0,4000,3944.00,N,0,N,N,0,0.0,0,N
440995548,3426603333,NaN,556.102083,1849.0,4000,3945.00,N,0,N,N,0,0.0,0,N
996817588,6144791734,NaN,985.911941,804.0,4000,3946.00,N,0,N,N,0,0.0,0,N
630798177,4797821841,NaN,196.151779,3445.0,4000,3947.00,N,0,N,N,0,0.0,0,N
459956680,4848091459,NaN,740.109697,458.0,4000,3953.00,N,0,N,N,0,0.0,0,N
390505511,6243703001,NaN,872.540171,178.0,4000,3954.00,N,0,Y,N,0,0.0,0,N
326141832,5087023685,NaN,139.672279,1637.0,4000,3957.00,N,0,N,N,0,0.0,0,N
969453614,5441239355,NaN,392.816180,45.0,4000,3959.00,N,0,N,N,0,0.0,0,N
110658057,3953059579,NaN,104.636923,2765.0,4000,3961.00,N,0,N,N,0,0.0,0,N
351640086,5959708973,NaN,877.801475,3227.0,4000,3963.00,N,9,Y,Y,0,0.0,0,Y
967469945,3719466512,NaN,683.820253,1138.0,4000,3964.00,N,0,N,N,0,0.0,0,N
526616054,3539473672,NaN,524.182048,601.0,4000,3967.00,N,0,N,N,0,0.0,0,N
221234857,3597840001,NaN,975.235676,1952.0,4000,3970.00,N,0,N,N,0,0.0,0,N
519925338,5773973963,NaN,537.135972,3188.0,4000,3972.00,N,0,N,N,0,0.0,0,N
632017676,6385093167,NaN,417.783776,124.0,4000,3975.00,N,0,N,N,0,0.0,0,N
812880398,3856401711,NaN,540.999682,2839.0,4000,3979.00,N,0,Y,N,0,0.0,0,N
975516325,5233228333,NaN,773.897317,2836.0,4000,3989.00,N,0,N,N,0,0.0,0,N
905150618,3413554900,NaN,880.963249,1029.0,4000,3990.00,N,4,N,N,0,0.0,0,N
98230019,4003922670,NaN,691.899804,2978.0,4000,3991.00,N,0,N,N,0,0.0,0,N
234949654,5131667685,NaN,117.437647,1523.0,4000,3991.00,N,1,N,N,0,0.0,0,N
333905636,3160241992,NaN,500.000000,3700.0,4000,4000.00,N,0,Y,Y,800,677.2,6,Y
579946416,3160241992,NaN,500.000000,3705.2,4000,4000.00,N,0,Y,Y,800,677.2,6,Y
258785659,3160040998,NaN,100.000000,1500.0,4000,35552.25,N,5,Y,Y,0,0.0,0,Y
458785658,3160040998,NaN,100.000000,1500.0,4000,35552.25,N,5,Y,Y,0,0.0,0,Y

In [52]:
dataframe.sort_values(by='Average Amount/transaction/day', ascending = False) #Sorting by value_descending

,Merchant_id,Transaction date,Average Amount/transaction/day,Transaction_amount,limit,remaining limit,Is declined,Total Number of declines/day,isForeignTransaction,isHighRiskCountry,Daily_chargeback_avg_amt,6_month_avg_chbk_amt,6-month_chbk_freq,isFradulent
CCNUMBER,,,,,,,,,,,,,,
917632104,4165364368,NaN,999.194706,352.0,2000,1023.0,N,0,N,N,0,0.0,0,N
84986568,6324841313,NaN,998.934275,796.0,2000,1507.0,N,0,N,N,0,0.0,0,N
106373199,5037335286,NaN,998.391708,996.0,4000,3647.0,N,0,Y,N,0,0.0,0,N
929971093,3527533497,NaN,998.344074,758.0,4000,815.0,N,0,Y,Y,701,585.0,8,Y
256330385,5135958475,NaN,997.967671,124.0,4000,416.0,N,0,N,N,0,0.0,0,N
36994290,3792474266,NaN,997.621731,222.0,2000,1232.0,N,4,N,N,0,0.0,0,N
347412564,5766730673,NaN,996.989956,404.0,2000,1407.0,N,0,N,N,0,0.0,0,N
131683800,4516411055,NaN,996.984323,175.0,2000,362.0,N,0,N,N,0,0.0,0,N
757995264,5279042349,NaN,996.585439,182.0,2000,262.0,N,0,N,N,0,0.0,0,N
807792121,5573978043,NaN,996.151761,618.0,2000,1431.0,N,5,N,N,0,0.0,0,N
847939011,6137597224,NaN,995.864063,281.0,4000,694.0,N,0,N,N,0,0.0,0,N
516030831,4091501588,NaN,994.987201,1667.0,4000,2894.0,N,0,N,N,0,0.0,0,N
885428584,5776594319,NaN,994.928513,78.0,2000,707.0,N,0,N,N,0,0.0,0,N
763922251,4025627949,NaN,994.464603,147.0,2000,1096.0,N,0,Y,N,0,0.0,0,N
500426104,3931533472,NaN,994.171111,483.0,4000,3619.0,N,0,N,N,0,0.0,0,N
383644866,5233449979,NaN,994.060774,708.0,2000,1902.0,N,0,N,N,601,290.0,3,N
515856388,4707846624,NaN,994.032727,244.0,2000,521.0,N,0,N,N,0,0.0,0,N
14929889,4807459922,NaN,994.030033,328.0,2000,939.0,N,3,N,N,0,0.0,0,N
960800905,3606558690,NaN,993.734603,82.0,2000,620.0,N,0,N,N,0,0.0,0,N
635085425,4935893756,NaN,993.677994,55.0,4000,536.0,N,0,N,N,0,0.0,0,N
682308588,4295937556,NaN,993.415575,326.0,2000,521.0,N,0,N,N,0,0.0,0,N
489791242,3475849004,NaN,993.317349,1232.0,2000,1701.0,N,0,N,N,0,0.0,0,N
228550270,3760252470,NaN,992.976407,391.0,2000,508.0,N,4,N,N,0,0.0,0,N
477405059,4331069400,NaN,992.915038,1519.0,4000,3585.0,N,0,N,N,0,0.0,0,N
837895743,3813563637,NaN,992.835824,698.0,2000,1862.0,N,0,N,N,260,102.0,2,N
603433694,3855319715,NaN,992.749810,1383.0,4000,1656.0,N,1,N,N,0,0.0,0,N
792174312,5797107780,NaN,992.649489,2280.0,4000,3729.0,N,0,Y,N,0,0.0,0,Y
578701513,5007677961,NaN,992.276083,334.0,4000,460.0,N,0,N,N,0,0.0,0,N
303213272,4718242897,NaN,991.761474,966.0,4000,2653.0,N,0,N,N,0,0.0,0,N
505687537,5470854000,NaN,991.579151,1219.0,2000,1455.0,N,0,N,N,0,0.0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119535499,3840707845,NaN,10.663658,190.0,2000,304.0,N,8,Y,Y,0,0.0,0,Y
774934957,5778810523,NaN,10.287098,298.0,2000,426.0,N,0,N,N,0,0.0,0,N
172987786,5985343454,NaN,10.211365,1399.0,2000,1455.0,N,0,N,N,0,0.0,0,N
210205420,3865195005,NaN,10.135064,1232.0,2000,1232.0,N,0,N,N,0,0.0,0,N
744729379,5930884998,NaN,10.053569,2515.0,4000,2798.0,N,0,N,N,0,0.0,0,N
829199263,6514902255,NaN,9.919198,889.0,2000,1698.0,N,6,Y,Y,0,0.0,0,Y
369758097,4155574823,NaN,9.134959,2363.0,4000,3844.0,N,8,N,N,0,0.0,0,Y
36815515,6038761323,NaN,8.915081,415.0,4000,2845.0,N,0,N,N,0,0.0,0,N
715838593,4614170505,NaN,8.903795,275.0,2000,1127.0,N,0,N,N,0,0.0,0,N
437824211,5843413264,NaN,8.535333,19.0,2000,123.0,N,0,N,N,0,0.0,0,N
974023079,5264128511,NaN,7.954239,175.0,2000,1909.0,N,4,Y,Y,0,0.0,0,Y
142746449,5795453812,NaN,7.758253,263.0,2000,817.0,N,0,N,N,0,0.0,0,N
402944136,3781915119,NaN,7.503411,377.0,4000,979.0,N,0,N,N,0,0.0,0,N
435028970,6433821257,NaN,7.461096,129.0,4000,1442.0,N,0,N,N,0,0.0,0,N
680546313,4200072021,NaN,7.438057,917.0,4000,3870.0,N,0,N,N,0,0.0,0,N
793680152,4772667475,NaN,7.409143,737.0,2000,1389.0,N,3,Y,Y,0,0.0,0,Y
751952296,6638540153,NaN,6.309560,103.0,2000,1405.0,N,0,Y,N,0,0.0,0,N
397657148,5370567294,NaN,5.902676,1167.0,4000,2730.0,N,0,N,N,0,0.0,0,N
577427371,3637844863,NaN,5.709124,255.0,4000,649.0,N,0,N,N,0,0.0,0,N
298324897,4639597637,NaN,5.704093,908.0,4000,3811.0,N,1,N,N,0,0.0,0,N
524406513,6663592624,NaN,5.015417,1316.0,2000,1771.0,N,0,N,N,0,0.0,0,N
336821925,3695129674,NaN,4.991765,212.0,2000,1303.0,N,0,N,N,0,0.0,0,N
961539658,5942882031,NaN,4.356148,222.0,4000,342.0,N,4,N,N,0,0.0,0,N
602610305,3507535675,NaN,4.025783,3210.0,4000,3921.0,N,0,Y,Y,0,0.0,0,Y
138799822,6346251620,NaN,4.011527,228.0,2000,490.0,N,0,N,N,290,172.0,5,N
243707182,5669348081,NaN,3.116438,181.0,2000,660.0,N,0,N,N,0,0.0,0,N
565869332,5889867921,NaN,2.127016,119.0,2000,510.0,N,8,N,N,0,0.0,0,Y
274764911,6004883951,NaN,1.084889,768.0,4000,830.0,N,0,N,N,0,0.0,0,N
736596356,4019323204,NaN,0.069202,539.0,4000,1006.0,N,0,N,N,0,0.0,0,N
194920543,5349877056,NaN,0.036577,18.0,4000,2368.0,N,0,N,N,0,0.0,0,N

In [29]:
dataframe.sort_values(by=['Average Amount/transaction/day','remaining limit'], ascending = False) #Sorting with 2 columns

,Merchant_id,CCNUMBER,Transaction date,Average Amount/transaction/day,Transaction_amount,limit,remaining limit,Is declined,Total Number of declines/day,isForeignTransaction,isHighRiskCountry,Daily_chargeback_avg_amt,6_month_avg_chbk_amt,6-month_chbk_freq,isFradulent
2781,4165364368,917632104,NaN,999.194706,352.0,2000,1023.0,N,0,N,N,0,0.0,0,N
45,6324841313,84986568,NaN,998.934275,796.0,2000,1507.0,N,0,N,N,0,0.0,0,N
32,5037335286,106373199,NaN,998.391708,996.0,4000,3647.0,N,0,Y,N,0,0.0,0,N
2618,3527533497,929971093,NaN,998.344074,758.0,4000,815.0,N,0,Y,Y,701,585.0,8,Y
1320,5135958475,256330385,NaN,997.967671,124.0,4000,416.0,N,0,N,N,0,0.0,0,N
1047,3792474266,36994290,NaN,997.621731,222.0,2000,1232.0,N,4,N,N,0,0.0,0,N
1981,5766730673,347412564,NaN,996.989956,404.0,2000,1407.0,N,0,N,N,0,0.0,0,N
985,4516411055,131683800,NaN,996.984323,175.0,2000,362.0,N,0,N,N,0,0.0,0,N
70,5279042349,757995264,NaN,996.585439,182.0,2000,262.0,N,0,N,N,0,0.0,0,N
1261,5573978043,807792121,NaN,996.151761,618.0,2000,1431.0,N,5,N,N,0,0.0,0,N
777,6137597224,847939011,NaN,995.864063,281.0,4000,694.0,N,0,N,N,0,0.0,0,N
1922,4091501588,516030831,NaN,994.987201,1667.0,4000,2894.0,N,0,N,N,0,0.0,0,N
933,5776594319,885428584,NaN,994.928513,78.0,2000,707.0,N,0,N,N,0,0.0,0,N
1329,4025627949,763922251,NaN,994.464603,147.0,2000,1096.0,N,0,Y,N,0,0.0,0,N
3059,3931533472,500426104,NaN,994.171111,483.0,4000,3619.0,N,0,N,N,0,0.0,0,N
2301,5233449979,383644866,NaN,994.060774,708.0,2000,1902.0,N,0,N,N,601,290.0,3,N
2149,4707846624,515856388,NaN,994.032727,244.0,2000,521.0,N,0,N,N,0,0.0,0,N
2038,4807459922,14929889,NaN,994.030033,328.0,2000,939.0,N,3,N,N,0,0.0,0,N
578,3606558690,960800905,NaN,993.734603,82.0,2000,620.0,N,0,N,N,0,0.0,0,N
1067,4935893756,635085425,NaN,993.677994,55.0,4000,536.0,N,0,N,N,0,0.0,0,N
2001,4295937556,682308588,NaN,993.415575,326.0,2000,521.0,N,0,N,N,0,0.0,0,N
615,3475849004,489791242,NaN,993.317349,1232.0,2000,1701.0,N,0,N,N,0,0.0,0,N
1992,3760252470,228550270,NaN,992.976407,391.0,2000,508.0,N,4,N,N,0,0.0,0,N
1950,4331069400,477405059,NaN,992.915038,1519.0,4000,3585.0,N,0,N,N,0,0.0,0,N
807,3813563637,837895743,NaN,992.835824,698.0,2000,1862.0,N,0,N,N,260,102.0,2,N
1278,3855319715,603433694,NaN,992.749810,1383.0,4000,1656.0,N,1,N,N,0,0.0,0,N
2614,5797107780,792174312,NaN,992.649489,2280.0,4000,3729.0,N,0,Y,N,0,0.0,0,Y
1997,5007677961,578701513,NaN,992.276083,334.0,4000,460.0,N,0,N,N,0,0.0,0,N
2902,4718242897,303213272,NaN,991.761474,966.0,4000,2653.0,N,0,N,N,0,0.0,0,N
482,5470854000,505687537,NaN,991.579151,1219.0,2000,1455.0,N,0,N,N,0,0.0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1157,3840707845,119535499,NaN,10.663658,190.0,2000,304.0,N,8,Y,Y,0,0.0,0,Y
1162,5778810523,774934957,NaN,10.287098,298.0,2000,426.0,N,0,N,N,0,0.0,0,N
2965,5985343454,172987786,NaN,10.211365,1399.0,2000,1455.0,N,0,N,N,0,0.0,0,N
2746,3865195005,210205420,NaN,10.135064,1232.0,2000,1232.0,N,0,N,N,0,0.0,0,N
2921,5930884998,744729379,NaN,10.053569,2515.0,4000,2798.0,N,0,N,N,0,0.0,0,N
2710,6514902255,829199263,NaN,9.919198,889.0,2000,1698.0,N,6,Y,Y,0,0.0,0,Y
307,4155574823,369758097,NaN,9.134959,2363.0,4000,3844.0,N,8,N,N,0,0.0,0,Y
2988,6038761323,36815515,NaN,8.915081,415.0,4000,2845.0,N,0,N,N,0,0.0,0,N
325,4614170505,715838593,NaN,8.903795,275.0,2000,1127.0,N,0,N,N,0,0.0,0,N
81,5843413264,437824211,NaN,8.535333,19.0,2000,123.0,N,0,N,N,0,0.0,0,N
2190,5264128511,974023079,NaN,7.954239,175.0,2000,1909.0,N,4,Y,Y,0,0.0,0,Y
1474,5795453812,142746449,NaN,7.758253,263.0,2000,817.0,N,0,N,N,0,0.0,0,N
2233,3781915119,402944136,NaN,7.503411,377.0,4000,979.0,N,0,N,N,0,0.0,0,N
1817,6433821257,435028970,NaN,7.461096,129.0,4000,1442.0,N,0,N,N,0,0.0,0,N
1835,4200072021,680546313,NaN,7.438057,917.0,4000,3870.0,N,0,N,N,0,0.0,0,N
2749,4772667475,793680152,NaN,7.409143,737.0,2000,1389.0,N,3,Y,Y,0,0.0,0,Y
2379,6638540153,751952296,NaN,6.309560,103.0,2000,1405.0,N,0,Y,N,0,0.0,0,N
2298,5370567294,397657148,NaN,5.902676,1167.0,4000,2730.0,N,0,N,N,0,0.0,0,N
2873,3637844863,577427371,NaN,5.709124,255.0,4000,649.0,N,0,N,N,0,0.0,0,N
346,4639597637,298324897,NaN,5.704093,908.0,4000,3811.0,N,1,N,N,0,0.0,0,N
2194,6663592624,524406513,NaN,5.015417,1316.0,2000,1771.0,N,0,N,N,0,0.0,0,N
2132,3695129674,336821925,NaN,4.991765,212.0,2000,1303.0,N,0,N,N,0,0.0,0,N
2742,5942882031,961539658,NaN,4.356148,222.0,4000,342.0,N,4,N,N,0,0.0,0,N
2198,3507535675,602610305,NaN,4.025783,3210.0,4000,3921.0,N,0,Y,Y,0,0.0,0,Y
1854,6346251620,138799822,NaN,4.011527,228.0,2000,490.0,N,0,N,N,290,172.0,5,N
1745,5669348081,243707182,NaN,3.116438,181.0,2000,660.0,N,0,N,N,0,0.0,0,N
148,5889867921,565869332,NaN,2.127016,119.0,2000,510.0,N,8,N,N,0,0.0,0,Y
618,6004883951,274764911,NaN,1.084889,768.0,4000,830.0,N,0,N,N,0,0.0,0,N
634,4019323204,736596356,NaN,0.069202,539.0,4000,1006.0,N,0,N,N,0,0.0,0,N
1198,5349877056,194920543,NaN,0.036577,18.0,4000,2368.0,N,0,N,N,0,0.0,0,N

#### Selection of data

In [53]:
dataframe[50:60] #Using index

,Merchant_id,Transaction date,Average Amount/transaction/day,Transaction_amount,limit,remaining limit,Is declined,Total Number of declines/day,isForeignTransaction,isHighRiskCountry,Daily_chargeback_avg_amt,6_month_avg_chbk_amt,6-month_chbk_freq,isFradulent
CCNUMBER,,,,,,,,,,,,,,
673582112,5175623174,NaN,52.166931,188.0,2000,778.0,N,0,N,N,0,0.0,0,N
382156391,5952354946,NaN,825.879678,663.0,2000,1034.0,N,0,N,N,0,0.0,0,N
764461556,4226525797,NaN,347.476098,314.0,2000,346.0,N,0,N,N,0,0.0,0,N
590405792,4209927538,NaN,502.495110,2960.0,4000,3851.0,N,0,Y,N,0,0.0,0,Y
314185607,4855866036,NaN,777.830643,1844.0,4000,2444.0,N,0,N,N,0,0.0,0,N
8913910,5518736216,NaN,397.445606,229.0,2000,753.0,N,1,N,N,0,0.0,0,N
406568282,3769223968,NaN,770.818689,224.0,2000,255.0,N,0,N,N,0,0.0,0,N
625080054,5809891755,NaN,421.238154,1166.0,4000,2491.0,N,0,N,N,0,0.0,0,N
934887003,4256899166,NaN,266.778861,2076.0,4000,2402.0,N,0,N,N,0,0.0,0,N
190039661,4266029386,NaN,924.984081,236.0,4000,528.0,N,7,N,N,0,0.0,0,Y

In [54]:
dataframe[0::2].head(20) #Selecting even rows

,Merchant_id,Transaction date,Average Amount/transaction/day,Transaction_amount,limit,remaining limit,Is declined,Total Number of declines/day,isForeignTransaction,isHighRiskCountry,Daily_chargeback_avg_amt,6_month_avg_chbk_amt,6-month_chbk_freq,isFradulent
CCNUMBER,,,,,,,,,,,,,,
458785658,3160040998,NaN,100.000000,1500.0,4000,35552.250,N,5,Y,Y,0,0.0,0,Y
677361687,3160041996,NaN,185.500000,4000.0,2000,1901.876,Y,0,N,N,0,0.0,0,N
7970257,3160041996,NaN,185.500000,3000.0,2000,1901.876,Y,2,N,N,0,0.0,0,N
579946416,3160241992,NaN,500.000000,3705.2,4000,4000.000,N,0,Y,Y,800,677.2,6,Y
214355890,3200016990,NaN,262.500000,500.0,2000,1000.000,N,0,N,N,0,0.0,0,N
160390553,3200016990,NaN,375.000000,500.0,4000,2425.600,N,0,N,N,0,0.0,0,N
112423763,3737637735,NaN,622.165491,2629.0,4000,2832.000,N,0,N,N,0,0.0,0,N
493169486,4544655328,NaN,161.166495,301.0,4000,2636.000,N,0,N,N,0,0.0,0,N
280968687,5341322312,NaN,82.079047,787.0,2000,1684.000,N,0,N,N,0,0.0,0,N
727691964,6397501503,NaN,133.981453,1676.0,4000,2441.000,N,4,N,N,0,0.0,0,N
861630976,4576152716,NaN,842.010852,939.0,2000,1681.000,N,6,N,N,0,0.0,0,N
917750290,4700845732,NaN,936.975052,134.0,2000,543.000,N,0,Y,N,573,427.0,3,N
214828409,4211432542,NaN,586.879835,331.0,2000,1475.000,N,0,N,N,0,0.0,0,N
260803241,6424341371,NaN,884.710841,1501.0,4000,3833.000,N,0,N,N,0,0.0,0,N
579472381,5016486359,NaN,961.655208,624.0,2000,1266.000,N,0,N,N,0,0.0,0,N
363534131,4333312598,NaN,858.097570,959.0,2000,1182.000,N,2,N,N,0,0.0,0,N
106373199,5037335286,NaN,998.391708,996.0,4000,3647.000,N,0,Y,N,0,0.0,0,N
171486296,4835465818,NaN,531.366961,1921.0,4000,3200.000,N,9,N,N,0,0.0,0,Y
531239756,3808008068,NaN,866.068007,1450.0,4000,2219.000,N,5,N,N,0,0.0,0,N
214898833,6023215001,NaN,790.152300,307.0,2000,558.000,N,9,N,N,0,0.0,0,Y

In [55]:
dataframe[['Merchant_id','Transaction_amount','limit']] #Selection using columns

           Merchant_id  Transaction_amount  limit
CCNUMBER
458785658   3160040998              1500.0   4000
258785659   3160040998              1500.0   4000
677361687   3160041996              4000.0   2000
487513198   3160041996              3000.0   2000
7970257     3160041996              3000.0   2000
333905636   3160241992              3700.0   4000
579946416   3160241992              3705.2   4000
291714540   3160272997               500.0   2000
214355890   3200016990               500.0   2000
868746595   3200016990               500.0   2000
160390553   3200016990               500.0   4000
688040418   3333780991               500.0   4000
112423763   3737637735              2629.0   4000
12616870    4727426967               164.0   2000
493169486   4544655328               301.0   4000
794447079   4499635964                 5.0   2000
280968687   5341322312               787.0   2000
743610028   4531717685               614.0   2000
727691964   6397501503              1676.0   4000
530387262   6626944478                46.0   2000
861630976   4576152716               939.0   2000
776913609   4369938652                45.0   2000
917750290   4700845732               134.0   2000
20793520    6152532235               292.0   2000
214828409   4211432542               331.0   2000
437953844   5301391154              1655.0   4000
260803241   6424341371              1501.0   4000
866411065   4283226314               162.0   2000
579472381   5016486359               624.0   2000
656130879   5212779041                31.0   2000
...                ...                 ...    ...
797446679   5830852068              1507.0   2000
248950183   4990335216               562.0   2000
473696087   6149350467                94.0   4000
664075079   4579872633              1611.0   4000
419056881   4487026266               992.0   4000
307458372   5325772796                92.0   2000
128347745   5580618131               115.0   2000
412630380   5440287694               259.0   2000
106185847   6329912947               458.0   4000
634541832   4473791013               375.0   4000
100474399   3359690891              1281.0   4000
907605200   6047857497                75.0   2000
319095082   3658323901                98.0   2000
207779858   3412458375               344.0   4000
67137884    4870378479               773.0   2000
560071048   3436535040               396.0   2000
640274241   5238776955              1141.0   4000
915554611   5874863707               170.0   4000
860420310   6104877090               181.0   4000
207592710   6405633403              1282.0   2000
500426104   3931533472               483.0   4000
285574927   4931552646              1708.0   4000
462833859   5022726674                79.0   4000
372387730   4546243015               281.0   2000
127002896   4241853103              2587.0   4000
7970257     3160041896              3000.0   2000
7970257     3160141996              3000.0   2000
7970257     3162041996              3000.0   2000
7970257     3162041996              5542.3   4000
7970257     3162041996              6742.8   4000

[3069 rows x 3 columns]

## Two main ways of indexing in Dataframe

1. Position based indexing using df.iloc
2. Label based indexing using df.loc

### Selecting Pandas data using iloc
The iloc indexer for Pandas Dataframe is used for integer-location based indexing / selection by position (ie) It is used to select rows and columns by number, in the order that they appear in the data frame. 

Syntax : data.iloc[row selection, column selection]

Note :  .iloc returns a Pandas Series when one row is selected, and a Pandas DataFrame when multiple rows are selected, or if any column in full is selected. To counter this, pass a single-valued list if you require DataFrame output.

In [57]:
print (type(dataframe.iloc[5])) #Returns a Series
print (type(dataframe.iloc[[5]])) #Returns a Dataframe
print (type(dataframe.iloc[0:10])) #Returs a Dataframe
print (dataframe.iloc[1:5,0:4]) #Returns first 5 rows and 4 columns as Dataframe

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
           Merchant_id  Transaction date  Average Amount/transaction/day  \
CCNUMBER
258785659   3160040998               NaN                           100.0
677361687   3160041996               NaN                           185.5
487513198   3160041996               NaN                           185.5
7970257     3160041996               NaN                           185.5

           Transaction_amount
CCNUMBER
258785659              1500.0
677361687              4000.0
487513198              3000.0
7970257                3000.0

## Selecting Pandas data using loc

The Pandas loc indexer can be used with DataFrames for two different use cases:

1. Selecting rows by label/index
2. Selecting rows with a boolean / conditional lookup

Syntax : data.loc[[row selection], [column selection]]

### 1. Selecting rows by label/index

Selections using the loc method are based on the index of the data frame (if any). This method directly selects based on index values of any rows.

In [81]:
print(dataframe.loc[160390553]) #Returns a series

Merchant_id                       3200016990
Transaction date                         NaN
Average Amount/transaction/day           375
Transaction_amount                       500
limit                                   4000
remaining limit                       2425.6
Is declined                                N
Total Number of declines/day               0
isForeignTransaction                       N
isHighRiskCountry                          N
Daily_chargeback_avg_amt                   0
6_month_avg_chbk_amt                       0
6-month_chbk_freq                          0
isFradulent                                N
Name: 160390553, dtype: object

In [69]:
print(dataframe.loc[[160390553,487513198]]) #Returns a dataframe

           Merchant_id  Transaction date  Average Amount/transaction/day  \
CCNUMBER
160390553   3200016990               NaN                           375.0
487513198   3160041996               NaN                           185.5

           Transaction_amount  limit  remaining limit Is declined  \
CCNUMBER
160390553               500.0   4000         2425.600           N
487513198              3000.0   2000         1901.876           Y

           Total Number of declines/day isForeignTransaction  \
CCNUMBER
160390553                             0                    N
487513198                             1                    N

          isHighRiskCountry  Daily_chargeback_avg_amt  6_month_avg_chbk_amt  \
CCNUMBER
160390553                 N                         0                   0.0
487513198                 N                         0                   0.0

           6-month_chbk_freq isFradulent
CCNUMBER
160390553                  0           N
487513198                  0           N

In [70]:
print(dataframe.loc[[160390553,487513198],['Merchant_id','Transaction_amount','limit']])

           Merchant_id  Transaction_amount  limit
CCNUMBER
160390553   3200016990               500.0   4000
487513198   3160041996              3000.0   2000

### 2. Boolean / Logical indexing using .loc
With boolean indexing or logical selection, we pass an array or Series of True/False values to the .loc indexer to select the rows where your Series has True values. In most use cases, you will make selections based on the values of different columns in your data set.

In [85]:
dataframe.loc[dataframe['remaining limit'] > 2000] #returns rows based on the condition specified

,Merchant_id,Transaction date,Average Amount/transaction/day,Transaction_amount,limit,remaining limit,Is declined,Total Number of declines/day,isForeignTransaction,isHighRiskCountry,Daily_chargeback_avg_amt,6_month_avg_chbk_amt,6-month_chbk_freq,isFradulent
CCNUMBER,,,,,,,,,,,,,,
458785658,3160040998,NaN,100.000000,1500.0,4000,35552.25,N,5,Y,Y,0,0.0,0,Y
258785659,3160040998,NaN,100.000000,1500.0,4000,35552.25,N,5,Y,Y,0,0.0,0,Y
333905636,3160241992,NaN,500.000000,3700.0,4000,4000.00,N,0,Y,Y,800,677.2,6,Y
579946416,3160241992,NaN,500.000000,3705.2,4000,4000.00,N,0,Y,Y,800,677.2,6,Y
160390553,3200016990,NaN,375.000000,500.0,4000,2425.60,N,0,N,N,0,0.0,0,N
688040418,3333780991,NaN,375.000000,500.0,4000,2425.60,N,0,N,N,0,0.0,0,N
112423763,3737637735,NaN,622.165491,2629.0,4000,2832.00,N,0,N,N,0,0.0,0,N
493169486,4544655328,NaN,161.166495,301.0,4000,2636.00,N,0,N,N,0,0.0,0,N
727691964,6397501503,NaN,133.981453,1676.0,4000,2441.00,N,4,N,N,0,0.0,0,N
437953844,5301391154,NaN,391.522319,1655.0,4000,2080.00,N,0,N,N,0,0.0,0,N
260803241,6424341371,NaN,884.710841,1501.0,4000,3833.00,N,0,N,N,0,0.0,0,N
106373199,5037335286,NaN,998.391708,996.0,4000,3647.00,N,0,Y,N,0,0.0,0,N
171486296,4835465818,NaN,531.366961,1921.0,4000,3200.00,N,9,N,N,0,0.0,0,Y
402826027,4099394301,NaN,330.663947,795.0,4000,3815.00,N,0,N,N,873,426.0,4,N
531239756,3808008068,NaN,866.068007,1450.0,4000,2219.00,N,5,N,N,0,0.0,0,N
22267330,4655730662,NaN,976.767733,2554.0,4000,3003.00,N,0,N,N,0,0.0,0,N
143754784,5400971583,NaN,523.946710,2006.0,4000,3151.00,N,0,N,N,0,0.0,0,N
71047,4061849015,NaN,308.083099,799.0,4000,3854.00,N,7,N,N,0,0.0,0,Y
590405792,4209927538,NaN,502.495110,2960.0,4000,3851.00,N,0,Y,N,0,0.0,0,Y
314185607,4855866036,NaN,777.830643,1844.0,4000,2444.00,N,0,N,N,0,0.0,0,N
625080054,5809891755,NaN,421.238154,1166.0,4000,2491.00,N,0,N,N,0,0.0,0,N
934887003,4256899166,NaN,266.778861,2076.0,4000,2402.00,N,0,N,N,0,0.0,0,N
382853554,3943474211,NaN,218.107283,1685.0,4000,2627.00,N,6,N,N,0,0.0,0,N
706036033,6470761349,NaN,395.631155,1598.0,4000,2251.00,N,0,N,N,0,0.0,0,N
4230343,3420560059,NaN,938.778072,843.0,4000,3331.00,N,3,Y,N,0,0.0,0,N
41267152,5845551567,NaN,404.138289,1875.0,4000,2341.00,N,7,Y,N,0,0.0,0,Y
597826957,4758421140,NaN,498.409681,192.0,4000,3503.00,N,0,N,N,0,0.0,0,N
812903305,5307257120,NaN,756.118918,1263.0,4000,2458.00,N,0,N,N,0,0.0,0,N
821871939,5766099974,NaN,847.909801,1808.0,4000,3676.00,N,6,Y,Y,0,0.0,0,Y
366624194,6099945108,NaN,628.344822,1097.0,4000,2293.00,N,5,Y,N,0,0.0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216757094,6641494778,NaN,440.569561,936.0,4000,2890.00,N,0,N,N,0,0.0,0,N
226182183,5916462985,NaN,528.760399,2879.0,4000,3793.00,N,0,N,N,0,0.0,0,N
847551495,6340760061,NaN,351.964465,2133.0,4000,2892.00,N,0,N,N,0,0.0,0,N
264702369,5261489968,NaN,338.061694,3091.0,4000,3297.00,N,4,Y,N,954,696.0,6,N
531055744,6343038292,NaN,409.843200,585.0,4000,3571.00,N,0,N,N,0,0.0,0,N
124803150,6314131796,NaN,643.709653,345.0,4000,2158.00,N,0,N,N,0,0.0,0,N
477773863,6652925666,NaN,780.236504,971.0,4000,3456.00,N,5,N,N,0,0.0,0,N
36815515,6038761323,NaN,8.915081,415.0,4000,2845.00,N,0,N,N,0,0.0,0,N
702842210,4812692910,NaN,971.390806,1359.0,4000,3372.00,N,0,N,N,0,0.0,0,N
46105368,4363560965,NaN,895.409247,1421.0,4000,2571.00,N,0,N,N,0,0.0,0,N
517614933,6131400863,NaN,33.070295,1858.0,4000,2580.00,N,0,Y,N,0,0.0,0,N
51443846,5640320949,NaN,481.680865,2014.0,4000,3724.00,N,0,N,N,0,0.0,0,N
528653766,4085084708,NaN,140.388560,564.0,4000,2171.00,N,0,N,N,0,0.0,0,N
699952617,6339832383,NaN,47.183670,1430.0,4000,2052.00,N,0,Y,Y,0,0.0,0,Y
704656244,4319062040,NaN,72.066252,387.0,4000,2158.00,N,2,N,N,0,0.0,0,N
209276851,4407785985,NaN,224.741352,235.0,4000,3070.00,N,0,N,N,0,0.0,0,N
709545993,5504141167,NaN,364.064125,1900.0,4000,3354.00,N,0,Y,Y,0,0.0,0,Y
754391548,3388251889,NaN,231.067318,1348.0,4000,2258.00,N,0,N,N,986,650.0,8,Y
916076450,3973086442,NaN,934.522407,2745.0,4000,3540.00,N,0,N,N,0,0.0,0,N
136161113,4036426557,NaN,393.705375,379.0,4000,2651.00,N,3,Y,Y,0,0.0,0,Y
952821132,5401578011,NaN,739.245800,2471.0,4000,2515.00,N,0,N,N,0,0.0,0,N
234949654,5131667685,NaN,117.437647,1523.0,4000,3991.00,N,1,N,N,0,0.0,0,N
74440897,3852916753,NaN,327.220477,38.0,4000,2021.00,N,9,N,N,0,0.0,0,Y
664075079,4579872633,NaN,978.691432,1611.0,4000,2081.00,N,9,N,N,0,0.0,0,Y
419056881,4487026266,NaN,640.529014,992.0,4000,2107.00,N,0,N,N,0,0.0,0,N
634541832,4473791013,NaN,342.680968,375.0,4000,3932.00,N,0,N,N,0,0.0,0,N
640274241,5238776955,NaN,328.907306,1141.0,4000,2621.00,N,0,N,N,0,0.0,0,N
500426104,3931533472,NaN,994.171111,483.0,4000,3619.00,N,0,N,N,0,0.0,0,N
285574927,4931552646,NaN,782.638580,1708.0,4000,2809.00,N,0,N,N,819,781.0,2,N
127002896,4241853103,NaN,919.007944,2587.0,4000,2977.00,N,0,N,N,0,0.0,0,N

In [95]:
dataframe.loc[(dataframe['remaining limit'] > 2000) & (dataframe['isFradulent'] == 'Y'),
              ['Merchant_id','CCNUMBER','remaining limit','isFradulent']]# Returns filtered rows and specified columns

F:\Softwares\Anaconda\lib\site-packages\pandas\core\indexing.py:1472: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

           Merchant_id  CCNUMBER  remaining limit isFradulent
CCNUMBER
458785658   3160040998       NaN         35552.25           Y
258785659   3160040998       NaN         35552.25           Y
333905636   3160241992       NaN          4000.00           Y
579946416   3160241992       NaN          4000.00           Y
171486296   4835465818       NaN          3200.00           Y
71047       4061849015       NaN          3854.00           Y
590405792   4209927538       NaN          3851.00           Y
41267152    5845551567       NaN          2341.00           Y
821871939   5766099974       NaN          3676.00           Y
828768501   5035552703       NaN          3169.00           Y
755374841   3356298138       NaN          3187.00           Y
105720349   3714090682       NaN          3852.00           Y
664678404   5733530619       NaN          3815.00           Y
727651336   4970606263       NaN          2201.00           Y
339896668   5426200375       NaN          3491.00           Y
600042992   6633884878       NaN          2840.00           Y
259661701   6177585619       NaN          3745.00           Y
369758097   4155574823       NaN          3844.00           Y
750649802   5731414073       NaN          3585.00           Y
96703662    4223065137       NaN          3535.00           Y
4915348     5646455022       NaN          2534.00           Y
202194442   5309800449       NaN          3074.00           Y
863637356   4481195802       NaN          2443.00           Y
918061467   4127150902       NaN          2912.00           Y
184746836   4763086973       NaN          3369.00           Y
846985648   5991109342       NaN          3393.00           Y
987226103   3641844855       NaN          2793.00           Y
879889035   5614772190       NaN          2663.00           Y
537937027   5671132124       NaN          2172.00           Y
600428305   3785665909       NaN          3625.00           Y
...                ...       ...              ...         ...
116915708   6062389909       NaN          2264.00           Y
128012429   3413226850       NaN          2514.00           Y
929656124   5150845822       NaN          2133.00           Y
758964059   6586987902       NaN          2678.00           Y
806677186   3799132406       NaN          3858.00           Y
869639198   6051871856       NaN          2076.00           Y
940693706   6606661761       NaN          2029.00           Y
795193801   5675544222       NaN          3412.00           Y
70828342    4398664733       NaN          2361.00           Y
914112492   5892017866       NaN          3448.00           Y
162463112   6561840914       NaN          3756.00           Y
971818473   5041652546       NaN          2751.00           Y
964591771   3774659995       NaN          2609.00           Y
792174312   5797107780       NaN          3729.00           Y
221962187   3675535563       NaN          2496.00           Y
762648272   5673635669       NaN          2402.00           Y
251012686   5560111892       NaN          2622.00           Y
420279520   4942320098       NaN          3371.00           Y
798785075   4786546169       NaN          3147.00           Y
726673073   5438087941       NaN          2863.00           Y
530479068   5708922255       NaN          3200.00           Y
9076839     4173436510       NaN          3063.00           Y
702394047   6338071932       NaN          3461.00           Y
780616795   3835542787       NaN          2042.00           Y
699952617   6339832383       NaN          2052.00           Y
709545993   5504141167       NaN          3354.00           Y
754391548   3388251889       NaN          2258.00           Y
136161113   4036426557       NaN          2651.00           Y
74440897    3852916753       NaN          2021.00           Y
664075079   4579872633       NaN          2081.00           Y

[117 rows x 4 columns]

## Pandas DataFrame.isin()

This method helps in selecting rows with having a particular(or Multiple) value in a particular column.

In [100]:
filter = dataframe['isFradulent'].isin(['Y'])
dataframe[filter]

,Merchant_id,Transaction date,Average Amount/transaction/day,Transaction_amount,limit,remaining limit,Is declined,Total Number of declines/day,isForeignTransaction,isHighRiskCountry,Daily_chargeback_avg_amt,6_month_avg_chbk_amt,6-month_chbk_freq,isFradulent
CCNUMBER,,,,,,,,,,,,,,
458785658,3160040998,NaN,100.000000,1500.0,4000,35552.250,N,5,Y,Y,0,0.0,0,Y
258785659,3160040998,NaN,100.000000,1500.0,4000,35552.250,N,5,Y,Y,0,0.0,0,Y
333905636,3160241992,NaN,500.000000,3700.0,4000,4000.000,N,0,Y,Y,800,677.2,6,Y
579946416,3160241992,NaN,500.000000,3705.2,4000,4000.000,N,0,Y,Y,800,677.2,6,Y
291714540,3160272997,NaN,262.500000,500.0,2000,2000.000,N,0,N,N,900,345.5,7,Y
12616870,4727426967,NaN,719.842203,164.0,2000,214.000,N,2,Y,Y,0,0.0,0,Y
171486296,4835465818,NaN,531.366961,1921.0,4000,3200.000,N,9,N,N,0,0.0,0,Y
167993897,4908884376,NaN,69.640487,470.0,2000,554.000,N,0,Y,Y,0,0.0,0,Y
214898833,6023215001,NaN,790.152300,307.0,2000,558.000,N,9,N,N,0,0.0,0,Y
704411858,4439427249,NaN,815.850854,71.0,4000,224.000,N,8,Y,N,0,0.0,0,Y
30436742,5271180204,NaN,189.313859,170.0,2000,1211.000,N,0,Y,Y,0,0.0,0,Y
663518581,4205436781,NaN,581.933383,200.0,4000,522.000,N,0,Y,Y,0,0.0,0,Y
71047,4061849015,NaN,308.083099,799.0,4000,3854.000,N,7,N,N,0,0.0,0,Y
621251364,5507239729,NaN,145.740031,974.0,2000,1595.000,N,0,N,N,788,586.0,9,Y
590405792,4209927538,NaN,502.495110,2960.0,4000,3851.000,N,0,Y,N,0,0.0,0,Y
190039661,4266029386,NaN,924.984081,236.0,4000,528.000,N,7,N,N,0,0.0,0,Y
41267152,5845551567,NaN,404.138289,1875.0,4000,2341.000,N,7,Y,N,0,0.0,0,Y
821871939,5766099974,NaN,847.909801,1808.0,4000,3676.000,N,6,Y,Y,0,0.0,0,Y
465107934,5235580276,NaN,348.177324,28.0,2000,252.000,N,3,Y,N,0,0.0,0,Y
51997487,5339849253,NaN,142.573955,1179.0,2000,1774.000,N,8,N,N,0,0.0,0,Y
107655592,5871664480,NaN,279.108673,50.0,2000,217.000,N,0,Y,N,0,0.0,0,Y
349447571,3506126990,NaN,563.054548,520.0,2000,915.000,N,2,Y,N,0,0.0,0,Y
772020550,5063944744,NaN,521.418042,48.0,4000,121.000,N,5,Y,Y,0,0.0,0,Y
383261211,5636587443,NaN,820.852064,86.0,4000,132.000,N,7,Y,N,0,0.0,0,Y
828768501,5035552703,NaN,413.746506,502.0,4000,3169.000,N,7,N,N,0,0.0,0,Y
65064622,5588296997,NaN,484.139125,1192.0,2000,1207.000,N,1,Y,Y,992,741.0,7,Y
208749866,4762163981,NaN,735.268429,310.0,2000,796.000,N,0,Y,N,835,715.0,7,Y
755374841,3356298138,NaN,166.788473,1707.0,4000,3187.000,N,0,N,N,721,229.0,9,Y
234856236,6070790055,NaN,15.742474,729.0,2000,893.000,N,8,Y,N,0,0.0,0,Y
565869332,5889867921,NaN,2.127016,119.0,2000,510.000,N,8,N,N,0,0.0,0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623724468,4713612792,NaN,491.256516,157.0,2000,422.000,N,8,Y,Y,0,0.0,0,Y
188584726,4691564176,NaN,630.393278,240.0,2000,773.000,N,0,Y,Y,0,0.0,0,Y
9076839,4173436510,NaN,418.349770,1740.0,4000,3063.000,N,0,Y,Y,0,0.0,0,Y
282625186,6080895069,NaN,666.061748,1205.0,4000,1239.000,N,8,N,N,939,767.0,3,Y
90831656,5631261207,NaN,697.053699,2.0,2000,1190.000,N,5,Y,Y,0,0.0,0,Y
531724838,6412131239,NaN,684.229736,99.0,4000,515.000,N,4,Y,Y,0,0.0,0,Y
201159111,6283975662,NaN,908.145805,1904.0,4000,1911.000,N,3,Y,Y,0,0.0,0,Y
702394047,6338071932,NaN,942.342777,2265.0,4000,3461.000,N,2,N,N,943,934.0,6,Y
780616795,3835542787,NaN,837.189105,1000.0,4000,2042.000,N,0,Y,Y,0,0.0,0,Y
930846073,3465787492,NaN,172.515767,281.0,2000,1022.000,N,9,Y,Y,0,0.0,0,Y
692503809,5859908215,NaN,337.814850,20.0,4000,163.000,N,7,Y,Y,0,0.0,0,Y
701553108,4244630120,NaN,979.475242,760.0,2000,915.000,N,0,N,N,475,244.0,4,Y
699952617,6339832383,NaN,47.183670,1430.0,4000,2052.000,N,0,Y,Y,0,0.0,0,Y
796501114,6291161670,NaN,654.800166,490.0,4000,1179.000,N,0,Y,Y,0,0.0,0,Y
709545993,5504141167,NaN,364.064125,1900.0,4000,3354.000,N,0,Y,Y,0,0.0,0,Y
754391548,3388251889,NaN,231.067318,1348.0,4000,2258.000,N,0,N,N,986,650.0,8,Y
327390781,3376306597,NaN,601.452971,73.0,4000,362.000,N,7,N,N,0,0.0,0,Y
136161113,4036426557,NaN,393.705375,379.0,4000,2651.000,N,3,Y,Y,0,0.0,0,Y
74440897,3852916753,NaN,327.220477,38.0,4000,2021.000,N,9,N,N,0,0.0,0,Y
933377853,6471049957,NaN,81.531005,950.0,2000,1421.000,N,0,Y,Y,0,0.0,0,Y
453253269,6455635890,NaN,705.811803,78.0,4000,1932.000,N,0,N,N,940,815.0,6,Y
664075079,4579872633,NaN,978.691432,1611.0,4000,2081.000,N,9,N,N,0,0.0,0,Y
100474399,3359690891,NaN,152.451565,1281.0,4000,1571.000,N,0,Y,Y,865,375.0,8,Y
915554611,5874863707,NaN,265.816940,170.0,4000,947.000,N,0,Y,Y,0,0.0,0,Y
462833859,5022726674,NaN,540.671110,79.0,4000,176.000,N,8,Y,Y,0,0.0,0,Y
7970257,3160041896,NaN,185.500000,3000.0,2000,1901.876,Y,5,N,N,0,0.0,0,Y
7970257,3160141996,NaN,185.500000,3000.0,2000,1901.876,Y,8,N,N,0,0.0,0,Y
7970257,3162041996,NaN,185.500000,3000.0,2000,1901.876,Y,20,N,N,0,0.0,0,Y
7970257,3162041996,NaN,185.500000,5542.3,4000,1901.876,Y,20,N,N,0,0.0,0,Y
7970257,3162041996,NaN,185.500000,6742.8,4000,1901.876,Y,20,N,N,0,0.0,0,Y

## Merge and Append (Joins)

### Merging (Using pd.merge)

### Syntax : 

pd.merge(left, right, how='inner', on=None, left_on=None, right_on=None,left_index=False, right_index=False, sort=True)

### Parameters :

left  A DataFrame object.

right  Another DataFrame object.

on  Columns (names) to join on. Must be found in both the left and right DataFrame objects.

left_on  Columns from the left DataFrame to use as keys. Can either be column names or arrays with length equal to the length of the DataFrame.

right_on  Columns from the right DataFrame to use as keys. Can either be column names or arrays with length equal to the length of the DataFrame.

left_index  If True, use the index (row labels) from the left DataFrame as its join key(s). In case of a DataFrame with a MultiIndex (hierarchical), the number of levels must match the number of join keys from the right DataFrame.

right_index  Same usage as left_index for the right DataFrame.

how  One of 'left', 'right', 'outer', 'inner'. Defaults to inner. 

sort  Sort the result DataFrame by the join keys in lexicographical order. Defaults to True, setting to False will improve the performance substantially in many cases.

### Merging(Using df.merge)

### Syntax : 

DataFrame.merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)

### Parameters :

right : DataFrame

how : {left, right, outer, inner}, default inner
left: use only keys from left frame, similar to a SQL left outer join; preserve key order
right: use only keys from right frame, similar to a SQL right outer join; preserve key order
outer: use union of keys from both frames, similar to a SQL full outer join; sort keys lexicographically
inner: use intersection of keys from both frames, similar to a SQL inner join; preserve the order of the left keys

on : label or list
Column or index level names to join on. These must be found in both DataFrames. If on is None and not merging on indexes then this defaults to the intersection of the columns in both DataFrames.

left_on : label or list, or array-like
Column or index level names to join on in the left DataFrame. Can also be an array or list of arrays of the length of the left DataFrame. These arrays are treated as if they are columns.

right_on : label or list, or array-like
Column or index level names to join on in the right DataFrame. Can also be an array or list of arrays of the length of the right DataFrame. These arrays are treated as if they are columns.

left_index : boolean, default False
Use the index from the left DataFrame as the join key(s). If it is a MultiIndex, the number of keys in the other DataFrame (either the index or a number of columns) must match the number of levels

right_index : boolean, default False
Use the index from the right DataFrame as the join key. Same caveats as left_index

sort : boolean, default False
Sort the join keys lexicographically in the result DataFrame. If False, the order of the join keys depends on the join type (how keyword)

suffixes : 2-length sequence (tuple, list, )
Suffix to apply to overlapping column names in the left and right side, respectively

copy : boolean, default True
If False, do not copy data unnecessarily

indicator : boolean or string, default False
If True, adds a column to output DataFrame called _merge with information on the source of each row. If string, column with information on source of each row will be added to output DataFrame, and column will be named value of string. Information column is Categorical-type and takes on a value of left_only for observations whose merge key only appears in left DataFrame, right_only for observations whose merge key only appears in right DataFrame, and both if the observations merge key is found in both.

validate : string, default None
If specified, checks if merge is of specified type.
one_to_one or 1:1: check if merge keys are unique in both left and right datasets.
one_to_many or 1:m: check if merge keys are unique in left dataset.
many_to_one or m:1: check if merge keys are unique in right dataset.
many_to_many or m:m: allowed, but does not result in checks.

## Appending(Using pd.concat)

Concatenate pandas objects along a particular axis with optional set logic along the other axes.

### Syntax :

pandas.concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=None, copy=True)

### Parameters :

objs : a sequence or mapping of Series, DataFrame, or Panel objects
If a dict is passed, the sorted keys will be used as the keys argument, unless it is passed, in which case the values will be selected. Any None objects will be dropped silently unless they are all None in which case a ValueError will be raised

axis : {0/index, 1/columns}, default 0
The axis to concatenate along

join : {inner, outer}, default outer
How to handle indexes on other axis(es)

join_axes : list of Index objects
Specific indexes to use for the other n - 1 axes instead of performing inner/outer set logic

ignore_index : boolean, default False
If True, do not use the index values along the concatenation axis. The resulting axis will be labeled 0, , n - 1. This is useful if you are concatenating objects where the concatenation axis does not have meaningful indexing information. Note the index values on the other axes are still respected in the join.

keys : sequence, default None
If multiple levels passed, should contain tuples. Construct hierarchical index using the passed keys as the outermost level

levels : list of sequences, default None
Specific levels (unique values) to use for constructing a MultiIndex. Otherwise they will be inferred from the keys

names : list, default None
Names for the levels in the resulting hierarchical index

verify_integrity : boolean, default False
Check whether the new concatenated axis contains duplicates. This can be very expensive relative to the actual data concatenation

sort : boolean, default None
Sort non-concatenation axis if it is not already aligned when join is outer. The current default of sorting is deprecated and will change to not-sorting in a future version of pandas.

Explicitly pass sort=True to silence the warning and sort. Explicitly pass sort=False to silence the warning and not sort.
This has no effect when join='inner', which already preserves the order of the non-concatenation axis.

copy : boolean, default True
If False, do not copy data unnecessarily

## Appending(Using df.append)

Append rows of other to the end of this frame, returning a new object. Columns not in this frame are added as new columns.

### Syntax

DataFrame.append(other, ignore_index=False, verify_integrity=False, sort=None)

### Parameters

other : DataFrame or Series/dict-like object, or list of these
The data to append.

ignore_index : boolean, default False
If True, do not use the index labels.

verify_integrity : boolean, default False
If True, raise ValueError on creating index with duplicates.

sort : boolean, default None
Sort columns if the columns of self and other are not aligned. The default sorting is deprecated and will change to not-sorting in a future version of pandas. Explicitly pass sort=True to silence the warning and sort. Explicitly pass sort=False to silence the warning and not sort.

## Grouping and Summarizing Dataframes

Group series using mapper (dict or key function, apply given function to group, return result as series) or by a series of columns.

### Syntax :
DataFrame.groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, observed=False)

### Parameters:

by : mapping, function, label, or list of labels
Used to determine the groups for the groupby. If by is a function, its called on each value of the objects index. If a dict or Series is passed, the Series or dict VALUES will be used to determine the groups (the Series values are first aligned; see .align() method). If an ndarray is passed, the values are used as-is determine the groups. A label or list of labels may be passed to group by the columns in self. Notice that a tuple is interpreted a (single) key.

axis : int, default 0

level : int, level name, or sequence of such, default None
If the axis is a MultiIndex (hierarchical), group by a particular level or levels

as_index : boolean, default True
For aggregated output, return object with group labels as the index. Only relevant for DataFrame input. as_index=False is effectively SQL-style grouped output

sort : boolean, default True
Sort group keys. Get better performance by turning this off. Note this does not influence the order of observations within each group. groupby preserves the order of rows within each group.

group_keys : boolean, default True
When calling apply, add group keys to index to identify pieces

squeeze : boolean, default False
reduce the dimensionality of the return type if possible, otherwise return a consistent type

observed : boolean, default False
This only applies if any of the groupers are Categoricals If True: only show observed values for categorical groupers. If False: show all values for categorical groupers.

In [106]:
#Grouping and Summmarising
df_grouping = dataframe.groupby('isFradulent')
print(df_grouping.Transaction_amount.mean())# The aggregates can be sum,mean,median,mode,count,max,min,abs,prod,std,var etc.
pd.DataFrame(df_grouping['Transaction_amount'].mean()) #Returns output in dataframe

isFradulent
N    763.575281
Y    823.288972
Name: Transaction_amount, dtype: float64

             Transaction_amount
isFradulent
N                    763.575281
Y                    823.288972

### Lambda Functions in Dataframe

In [110]:
# Create a function to be applied

def is_suspicious(x):
  return x>0

#Create a new column

dataframe['trans_suspicious'] = dataframe['6-month_chbk_freq'].apply(is_suspicious)
dataframe

,Merchant_id,Transaction date,Average Amount/transaction/day,Transaction_amount,limit,remaining limit,Is declined,Total Number of declines/day,isForeignTransaction,isHighRiskCountry,Daily_chargeback_avg_amt,6_month_avg_chbk_amt,6-month_chbk_freq,isFradulent,trans_suspicious
CCNUMBER,,,,,,,,,,,,,,,
458785658,3160040998,NaN,100.000000,1500.0,4000,35552.250,N,5,Y,Y,0,0.0,0,Y,False
258785659,3160040998,NaN,100.000000,1500.0,4000,35552.250,N,5,Y,Y,0,0.0,0,Y,False
677361687,3160041996,NaN,185.500000,4000.0,2000,1901.876,Y,0,N,N,0,0.0,0,N,False
487513198,3160041996,NaN,185.500000,3000.0,2000,1901.876,Y,1,N,N,0,0.0,0,N,False
7970257,3160041996,NaN,185.500000,3000.0,2000,1901.876,Y,2,N,N,0,0.0,0,N,False
333905636,3160241992,NaN,500.000000,3700.0,4000,4000.000,N,0,Y,Y,800,677.2,6,Y,True
579946416,3160241992,NaN,500.000000,3705.2,4000,4000.000,N,0,Y,Y,800,677.2,6,Y,True
291714540,3160272997,NaN,262.500000,500.0,2000,2000.000,N,0,N,N,900,345.5,7,Y,True
214355890,3200016990,NaN,262.500000,500.0,2000,1000.000,N,0,N,N,0,0.0,0,N,False
868746595,3200016990,NaN,375.000000,500.0,2000,1425.800,N,0,N,N,0,0.0,0,N,False
160390553,3200016990,NaN,375.000000,500.0,4000,2425.600,N,0,N,N,0,0.0,0,N,False
688040418,3333780991,NaN,375.000000,500.0,4000,2425.600,N,0,N,N,0,0.0,0,N,False
112423763,3737637735,NaN,622.165491,2629.0,4000,2832.000,N,0,N,N,0,0.0,0,N,False
12616870,4727426967,NaN,719.842203,164.0,2000,214.000,N,2,Y,Y,0,0.0,0,Y,False
493169486,4544655328,NaN,161.166495,301.0,4000,2636.000,N,0,N,N,0,0.0,0,N,False
794447079,4499635964,NaN,633.153234,5.0,2000,603.000,N,0,N,N,0,0.0,0,N,False
280968687,5341322312,NaN,82.079047,787.0,2000,1684.000,N,0,N,N,0,0.0,0,N,False
743610028,4531717685,NaN,660.079426,614.0,2000,1068.000,N,0,N,N,0,0.0,0,N,False
727691964,6397501503,NaN,133.981453,1676.0,4000,2441.000,N,4,N,N,0,0.0,0,N,False
530387262,6626944478,NaN,830.052132,46.0,2000,122.000,N,0,N,N,0,0.0,0,N,False
861630976,4576152716,NaN,842.010852,939.0,2000,1681.000,N,6,N,N,0,0.0,0,N,False
776913609,4369938652,NaN,520.334997,45.0,2000,1363.000,N,0,N,N,0,0.0,0,N,False
917750290,4700845732,NaN,936.975052,134.0,2000,543.000,N,0,Y,N,573,427.0,3,N,True
20793520,6152532235,NaN,701.638341,292.0,2000,696.000,N,6,Y,N,0,0.0,0,N,False
214828409,4211432542,NaN,586.879835,331.0,2000,1475.000,N,0,N,N,0,0.0,0,N,False
437953844,5301391154,NaN,391.522319,1655.0,4000,2080.000,N,0,N,N,0,0.0,0,N,False
260803241,6424341371,NaN,884.710841,1501.0,4000,3833.000,N,0,N,N,0,0.0,0,N,False
866411065,4283226314,NaN,780.458993,162.0,2000,187.000,N,0,N,N,0,0.0,0,N,False
579472381,5016486359,NaN,961.655208,624.0,2000,1266.000,N,0,N,N,0,0.0,0,N,False
656130879,5212779041,NaN,222.421072,31.0,2000,356.000,N,0,N,N,0,0.0,0,N,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
797446679,5830852068,NaN,292.158908,1507.0,2000,1736.000,N,0,N,N,0,0.0,0,N,False
248950183,4990335216,NaN,617.464476,562.0,2000,1460.000,N,0,Y,N,0,0.0,0,N,False
473696087,6149350467,NaN,538.920530,94.0,4000,143.000,N,0,Y,N,0,0.0,0,N,False
664075079,4579872633,NaN,978.691432,1611.0,4000,2081.000,N,9,N,N,0,0.0,0,Y,False
419056881,4487026266,NaN,640.529014,992.0,4000,2107.000,N,0,N,N,0,0.0,0,N,False
307458372,5325772796,NaN,853.144814,92.0,2000,337.000,N,0,N,N,0,0.0,0,N,False
128347745,5580618131,NaN,559.221222,115.0,2000,320.000,N,0,N,N,0,0.0,0,N,False
412630380,5440287694,NaN,882.408918,259.0,2000,445.000,N,0,N,N,0,0.0,0,N,False
106185847,6329912947,NaN,237.079302,458.0,4000,1597.000,N,0,N,N,0,0.0,0,N,False
634541832,4473791013,NaN,342.680968,375.0,4000,3932.000,N,0,N,N,0,0.0,0,N,False
100474399,3359690891,NaN,152.451565,1281.0,4000,1571.000,N,0,Y,Y,865,375.0,8,Y,True
907605200,6047857497,NaN,401.277893,75.0,2000,814.000,N,0,N,N,0,0.0,0,N,False
319095082,3658323901,NaN,705.911185,98.0,2000,934.000,N,0,N,N,0,0.0,0,N,False
207779858,3412458375,NaN,325.802131,344.0,4000,1437.000,N,0,N,N,0,0.0,0,N,False
67137884,4870378479,NaN,761.149378,773.0,2000,919.000,N,2,N,N,0,0.0,0,N,False
560071048,3436535040,NaN,245.344011,396.0,2000,1277.000,N,0,N,N,0,0.0,0,N,False
640274241,5238776955,NaN,328.907306,1141.0,4000,2621.000,N,0,N,N,0,0.0,0,N,False
915554611,5874863707,NaN,265.816940,170.0,4000,947.000,N,0,Y,Y,0,0.0,0,Y,False
860420310,6104877090,NaN,309.523061,181.0,4000,394.000,N,0,N,N,0,0.0,0,N,False
207592710,6405633403,NaN,938.297574,1282.0,2000,1878.000,N,0,N,N,0,0.0,0,N,False
500426104,3931533472,NaN,994.171111,483.0,4000,3619.000,N,0,N,N,0,0.0,0,N,False
285574927,4931552646,NaN,782.638580,1708.0,4000,2809.000,N,0,N,N,819,781.0,2,N,True
462833859,5022726674,NaN,540.671110,79.0,4000,176.000,N,8,Y,Y,0,0.0,0,Y,False
372387730,4546243015,NaN,627.208710,281.0,2000,434.000,N,0,N,N,0,0.0,0,N,False
127002896,4241853103,NaN,919.007944,2587.0,4000,2977.000,N,0,N,N,0,0.0,0,N,False
7970257,3160041896,NaN,185.500000,3000.0,2000,1901.876,Y,5,N,N,0,0.0,0,Y,False
7970257,3160141996,NaN,185.500000,3000.0,2000,1901.876,Y,8,N,N,0,0.0,0,Y,False
7970257,3162041996,NaN,185.500000,3000.0,2000,1901.876,Y,20,N,N,0,0.0,0,Y,False
7970257,3162041996,NaN,185.500000,5542.3,4000,1901.876,Y,20,N,N,0,0.0,0,Y,False
7970257,3162041996,NaN,185.500000,6742.8,4000,1901.876,Y,20,N,N,0,0.0,0,Y,False

## Pivot table in Dataframe

Create a spreadsheet-style pivot table as a DataFrame. The levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame

### Syntax

DataFrame.pivot_table(values=None, index=None, columns=None, aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')

### Parameters

values : column to aggregate, optional

index : column, Grouper, array, or list of the previous
If an array is passed, it must be the same length as the data. The list can contain any of the other types (except list). Keys to group by on the pivot table index. If an array is passed, it is being used as the same manner as column values.

columns : column, Grouper, array, or list of the previous
If an array is passed, it must be the same length as the data. The list can contain any of the other types (except list). Keys to group by on the pivot table column. If an array is passed, it is being used as the same manner as column values.

aggfunc : function, list of functions, dict, default numpy.mean
If list of functions passed, the resulting pivot table will have hierarchical columns whose top level are the function names (inferred from the function objects themselves) If dict is passed, the key is column to aggregate and value is function or list of functions

fill_value : scalar, default None
Value to replace missing values with

margins : boolean, default False
Add all row / columns (e.g. for subtotal / grand totals)

dropna : boolean, default True
Do not include columns whose entries are all NaN

margins_name : string, default All
Name of the row / column that will contain the totals when margins is True.

In [116]:
#dataframe.pivot_table(values='limit',index='CCNUMBER',aggfunc='sum',columns='Merchant_id')